{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>singup </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css1/style.css'%}">
	
</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">singup</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<!-- # popup notification start -->
						{% if messages %}
							{% for message in messages %}
								{% if message.tags == 'success' %}
								<div class="alert alert-dismissible alert-success">
								{% else %}
								<div class="alert alert-dismissible alert-danger">
								{%endif%}
									<!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
									<strong>{{ message }}</strong>
								</div>
							{% endfor %}
						{% endif %}
						<!-- # popup notification end -->
						<div class="img" style="background-image: url({% static 'images1/bg-1.jpg'%});"></div>
						<div class="login-wrap p-4 p-md-5">

						<form action="{% url 'account:singup' %}" method="POST" class="signin-form">
							{% csrf_token %}
								<div class="form-group mt-3">
									<input name="username"  type="text" class="form-control" required>
									<label class="form-control-placeholder" for="username">Username</label>
								</div>
								<div class="form-group mt-3">
									<input name="email"  type="email" class="form-control" required>
									<label class="form-control-placeholder" for="email">Email</label>
								</div>

							<div class="form-group">
							<input name="password1" type="password" class="form-control" required>
							<label class="form-control-placeholder" for="password1">Password</label>
							<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<input name="password2" type="password" class="form-control" required>
								<label class="form-control-placeholder" for="password2">comform Password</label>
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50 text-left">
									<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
											<input type="checkbox" checked>
											<span class="checkmark"></span>
												</label>
											</div>
											<div class="w-50 text-md-right">
												<a href="{% url 'account:login' %}">login</a>
											</div>

							</div>
		          		</form>

		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js1/jquery.min.js'%}"></script>
  <script src="{% static 'js1/popper.js'%}"></script>
  <script src="{% static 'js1/bootstrap.min.js'%}"></script>
  <script src="{% static 'js1/main.js'%}"></script>

	</body>
</html>

